
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:ital,wght@0,200;1,200;1,300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: auto;
}
header{
    height: 100%;
    background-image: url(../images/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.navbar-style{
    background-color: #8E214F;
    box-shadow: 0 5p 10px #8E214F;
    text-transform: uppercase;
    font-size: small;
    position: fixed;
   width: 100%;
   border-bottom: 5px solid;
   border-color:  rgba(0, 0, 0, 0.1);
}   
.logo{
    height: 40px;
    padding: 2px 10px;
    width: auto;
}
.nav-navbar li{
  display: inline;
  float: left;
    list-style: none;
    padding:  0 20px;
    text-align: center;
}
.nav li a{
    color: black;
}
.bg-1{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/browerbg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    
}
.bg-2{
    min-height: 70vh;
    background-image: url(../images/bgpic.jpg);
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
    /* height: 150vh;
    background-position: center;
    background-color:#8E214F ; */
}
.heading{
    font-family: 'IBM Plex Sans', sans-serif;;
    color: aliceblue;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: black;
    margin-right: 50%;
}
.sreachbar{
    background-color: rgba(0, 0, 0, 0.1);
    width: 250px;
    height: auto;
    text-align: center;
    border: solid;
    border-color: black ;
    border-bottom-width: 10px;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-left-color: rgb(97, 92, 92);
    border-right-color: rgb(97, 92, 92);
    color: white;
}
.cover{
    height: 120px;
}
.container-bottom{
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color:  rgba(255, 246, 246, 0.1) ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: rgb(163, 148, 148);
    width: 400px;
    color: black;
    margin: 12px 0;
    justify-content:space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.addsong{
    padding: 3px 6px ;
    color:rgba(0, 0, 0, 0.1) ;
    font-size:x-large;
}
.addsong:hover{
    color: wheat;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.container-listen.text-center {
    margin: 180px;
}
.container-listen.text-center h2 {
    color: whitesmoke;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
}
.container-listen.text-center button {
    color: black;
    background: orangered;
    border: orangered;
    padding: 5px 4px;
    cursor: pointer;
}
.container-listen button :hover{
    color: #ffff;
}
.container-listen button ::placeholder{
    padding: 3px;
}
.foter{
    max-width: 1107px;
    background: black;
    margin: auto;
}
ul{
    list-style: none;
}
.footer{
    font-family : 'Poppins', sans-serif;
    background : black;
    padding : 70px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 30%;
}
.footer-col h4{
    font-size: 20px;
    color: #ffff;
    text-transform: capitalize;
   margin-bottom: 30px;
    font-weight:500;
    position: relative;
}
.footer-col::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: palevioletred;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li{
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 15px;
}
.footer-col .sociallinks{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: rgba(225, 225, 225, 0.5);
    border-radius: 15px;
}
.flogo{
    margin-left: 60px;
    margin-top: 200px;
    padding: 10px 8px;
    cursor: pointer;
    height: 80px;

}
.content{
    margin-left: 30px;
    margin-top: 180px;
    text-align: left;
}